<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="../static/index.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <title>chatZz - <%=title%></title>
</head>

<body>
    <div class="d-flex flex-column justify-content-between h-100 bg-4">
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-1">
                <span class="navbar-brand"><span>chatZz <img src="../static/logo.png" style="max-width: 100%;"></span></span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <% if (title!=="Welcome")  { %>
                            <li class="nav-item <%= title==='Login'?'active':'' %>">
                                <a class="nav-link" href="/">Login</a>
                            </li>
                            <li class="nav-item <%= title==="Sign Up"?"active":"" %>">
                                <a class="nav-link" href="/signup">Sign Up</a>
                            </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </nav>
        </div>
    <div class="container bg-2 h-100 d-flex flex-column text-light p-0" style="overflow-y: hidden;">
        <div class="h-100 d-flex flex-column justify-content-center">